.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ff0000;
}

.title{
    font-weight: 200;
    font-size: 1.2em;
}

.title span{
    font-weight: 700;
}
